body{
	margin:0;
	border:0;
	overflow-x:hidden;
	text-align: center;
}
.image-shown{
	display:inline-block;
}
.image-hidden{
	display:none;
}
.carousel-outer{
	padding: 40px 20px 40px 20px;
}
img {
	height:100%;
	width:100%;
}
.carousel-inner{
	position:relative;
	height:660px;
	width:770px;
}