body{
	margin:0;
	border:0;
	overflow-x:hidden;
	text-align: center;
	font-family: 'Bungee Inline', cursive;
	background: url("../images/tumblr_mzervoFOuI1ru3nbdo2_r1_400.png")

}
.header {
	color: #FDE282;
	padding: 70px 30px;
	margin:20px 0;
	background-color: #271848;
	border: 2px solid #FDE282;
}
.image-shown{
	display:inline-block;
}
.image-hidden{
	display:none;
}
.carousel-outer{
	padding: 40px 20px 40px 20px;
}
img {
	height:100%;
	width:100%;
}
.carousel-inner{
	position:relative;
	height:660px;
	width:770px;
	border: 2px solid #FDE282;
	background-color: #FDE282;
}
.arrow{
	font-size:80px;
	color:#EB9A5D;

}
.arrow-container{
	margin-top:270px;

}

.fa-circle{
	margin:15px 10px;
	font-size:20px;
	color:#583856;
}