body{
	margin:0;
	border:0;
	overflow-x:hidden;
	text-align: center;
}
.image-shown{
	display:inline-block;
}
.image-hidden{
	display:none;
}
.carousel-outer{
	padding: 30px 10px 30px 10px;
}
img {
	height:100%;
	width:100%;
}
.carousel-inner{
	position:relative;
	height:800px;
	width:785px;
}